extends layout

block additional_head
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js')
  script(src='js/accounts.js')

mixin pos-neg-value
  span(val=attributes.val data-val=37 ng-class="{'negative': (print(this) > 2)}") 25

block content
  h1 Accounts
  
  div(ng-controller='AccountsController')
    
    p Total cash: {{$compile(formatCurrency(bigTotal('cash')))}} 
    p Total bank: {{formatCurrency(bigTotal('bank'))}}
    p Total: {{formatCurrency(bigTotal('cash') + bigTotal('bank'))}}
    
    table(ui-sortable)
      thead
        tr
          th #
          th Date
          th Object
          th(colspan=2) Cash
          th(colspan=2) Bank
          th Comments
          th
        tr
          th(colspan=3)
          th In
          th Out
          th In
          th Out
          th(colspan=2)
      tbody
        //- One entry per category
        tr(ng-repeat-start='category in categories', class='tr-category')
          td
            .move
          td(colspan=9)
            span(ng-hide='editing' ng-click='editing = true;') {{category.name}} : 
            input(ng-show='editing' ng-blur='editing = false' type='text' ng-model='category.name' class='input-category' focus-input) 
            span(ng-hide='editing') {{formatCurrency(total('cash', $index) + total('bank', $index))}}
        //- One row per transaction
        tr(ng-repeat='trans in category.transactions')
          td
            .move
          td
            input(type='text', ng-model='trans.date', class='input-date')
          td
            input(type='text', ng-model='trans.object', class='input-description')
          td
            input(type='text', ng-model='trans.cashin', class='input-amount')
          td
            input(type='text', ng-model='trans.cashout', class='input-amount')
          td
            input(type='text', ng-model='trans.bankin', class='input-amount')
          td
            input(type='text', ng-model='trans.bankout', class='input-amount')
          td
            input(type='text', ng-model='trans.comment', class='input-description')
          td
            a(href='' ng-click='remove()') Remove
        //- Final row with total for each category
        tr(ng-repeat-end)
          td(colspan=3)
            a(href='' ng-click='addTransaction($index)' title='Add a transaction') Add transaction
            &nbsp;
            a(href='' ng-click='sortList($index)' title='Sort transactions by date') Sort by date
          td(colspan=2) {{formatCurrency(total('cash', $index))}}
          td(colspan=2)
            span(ng-model='totalBank') {{total('bank', $index)}}
            span(ng-class='{"negative": totalBank < 0}') {{formatCurrency(totalBank)}}
            //- +pos-neg-value(val=25) 25
          td(colspan=2)
      
      
      
      
      