body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px black solid;
  padding: 3px;
}

input[type='text'] {
  background: none;
  border: none;
}

.input-amount {
  width: 4em;
}

.input-description {
  width: 20em;
}

.input-date {
  width: 6em;
}

.input-category, .tr-category span {
  font-size: 1.4em;
  width: 50%;
}

.tr-category td {
  border: none;
  padding-top: 2em;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

